:root {
    --color-1: #35278C;
    --color-2: #000000;
    --color-3: #5155A6;
    --color-4: #89D9D1;
    --color-5: #9fa3e2;
}

body {
    font-family: "Muli", sans-serif;
    font-weight: 300;
    background-color: var(--color-3);
    padding: 2.5rem;
}

label {
    display: flex;
    flex-direction: column;
    letter-spacing: 0.05rem;
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--color-2);
    margin: 0.625rem 0;
}

.app {
    display: flex;
    max-width: 87.5rem;
    flex-wrap: wrap;
    gap: 0.75rem;
    margin: 0 auto;
}

.container {
    flex-grow: 1;
    margin: 0 1.25rem;
    background-color: var(--color-4);
    border: 1px solid var(--color-3);
    box-shadow: 0 0.0625rem 0.125rem 0 var(--color-3);
    border-radius: 0.375rem;
    padding: 2.5rem;
}

input,
.button {
    border-radius: 0.3rem;
    font-size: 0.875rem;
    padding: 0.625rem 0;
}

input {
    margin-top: 0.2rem;
    border: 1px solid var(--color-1);
    background-color: var(--color-5);
    padding-inline-start: 0.75rem;
}

.button {
    background-color: var(--color-1);
    color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    padding: 0.625rem 1.5rem;
    margin-top: 0.625rem;
    border: none;
    transition: transform 0.1s ease;
}

.button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.button:active {
    background-color: var(--color-1);
    transform: scale(1);
}

.button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(52,39,140, 0.5);
}

.wallet,
.transfer {
    display: flex;
    flex-direction: column;
}

.wallet .balance {
    text-transform: uppercase;
    border: 1px solid var(--color-1);
    border-radius: 0.3rem;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: .9em;
    display: inline-flex;
    margin-top: 0.625rem;
    padding: 0.75rem;
    background-color: var(--color-5);
}

input::placeholder {
    color: var(--color-1);
}

input:focus {
    outline: 0.2rem solid var(--color-1);
}
